#description {
    width: 750px;
    padding: 10px;
    font-size: 16px;
}

.link {
    fill: none;
    stroke-opacity: 0.4;
    stroke-width: 0.4;
}

.hcnode {
}

.hm_focus {
    stroke-width: 1;
}

.tile_cover {
    fill: #555;
}

.highlighted_series {
    stroke-opacity: 0.1;
    stroke-width: 0.4;
    fill: none;
}

.centroid {
    stroke-opacity: 0.9;
    stroke-width: 2;
    fill: none;
}
